fastapi
uvicorn
sqlalchemy
python-multipart
requests
pillow
pymupdf
python-docx
pandas
openpyxl
azure-storage-blob
openai
python-dotenv
pytesseract
azure-ai-formrecognizer
pdfplumber
psycopg2-binary
pgvector
pydantic-settings
